{% extends "base.html" %}

{% block title %} Промени лозинка {% endblock %}

{% block content %}
<div class="change-pass-outer-div">
    <div class="form-div" id="form-change-password">
        <form method="post" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.old_password.label(class="form-label", id="old-password-label") }} {{ form.old_password(class="form-control input_fields") }}
            <span class="validation_error">{{ ', '.join(form.old_password.errors) }}</span><br>
            {{ form.new_password.label(class="form-label", id="new-password-label") }} {{ form.new_password(class="form-control input_fields") }}
            <span class="validation_error">{{ ', '.join(form.new_password.errors) }}</span><br>
            {{ form.confirm_new_password.label(class="form-label", id="confirm-new-password-label") }} {{ form.confirm_new_password(class="form-control input_fields") }}
            <span class="validation_error">{{ ', '.join(form.confirm_new_password.errors) }}</span><br>
            {{ form.submit_new_password(class="btn btn-secondary", id="btn-change-password") }}
        </form>
    </div>
</div>
{% endblock %}