{% extends "base.html" %}

{% block title %}Заборавена лозинка{% endblock %}

{% block content %}
<div class="reset-outer-div">
    <div class="form-div" id="form-reset-email">
        <form method="post" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.email_reset_password.label(class="form-label", id="reset-email-label") }} {{ form.email_reset_password(class="form-control input_fields") }}
            {{ form.submit_reset_email(class="btn btn-secondary", id="btn-reset-email") }}
        </form>
    </div>
</div>
{% endblock %}