{% extends "base.html" %}

{% block title %} Заборавена лозинка {% endblock %}

{% block content %}
<div class="reset-pass-outer-div">
    <div class="form-div" id="form-reset-password">
        <form method="post" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.password_reset.label(class="form-label", id="reset-password-label") }} {{ form.password_reset(class="form-control input_fields") }}
            <span class="validation_error">{{ ', '.join(form.password_reset.errors) }}</span><br>
            {{ form.confirm_password_reset.label(class="form-label", id="confirm-reset-password-label") }} {{ form.confirm_password_reset(class="form-control input_fields") }}
            <span class="validation_error">{{ ', '.join(form.confirm_password_reset.errors) }}</span><br>
            {{ form.submit_reset_pass(class="btn btn-secondary", id="btn-reset-password") }}
        </form>
    </div>
</div>
{% endblock %}