{% extends "base.html" %}

{% block title %} Неверифициран профил {% endblock %}

{% block content %} 
<div class="unconfirmed-outer-div">
    <h1><b>Здраво {{ current_user.username }}!</b></h1>

    <h2><b>Сеуште не сте го потврдиле Вашиот кориснички профил!</b></h2><br>
    
    <p>За да продолжите со користење на услугите кои ги нуди SpeechAI, мора да ја потврдите Вашата корисничка сметка! </p>
    <p>Порака за потврда е испратена на Вашата електронска адреса!</p>
    
    <p><b>СЕУШТЕ НЕМАТЕ ДОБИЕНО ПОРАКА?</b> За повторно испраќање <a href="{{ url_for('auth.resend_confirmation') }}"><b>КЛИКНЕТЕ ТУКА</b></a> !</p>
</div>
{% endblock %}


