{% extends "base.html" %}

{% block title %}Почетна{% endblock %}

{% block content %}
<div class="outer-div">
    <div class="title-div" id="title-index">
        <p id="title-1">Speech</p><p id="title-2">AI</p>
        <p id="quote-1">Автоматско препознавање на говор на македонски јазик</p>
        <!-- <p id="quote-2">Автоматизацијата започнува сега!</p> -->
    </div>
</div>



<!-- <div id="btns-div">
    <button type="button" class="btn btn-info" id="custom-btn-login">НАЈАВА</button>
    <button type="button" class="btn btn-info" id="custom-btn-register">РЕГИСТРАЦИЈА</button>
</div> -->
{% endblock %}
